<div class="login-auth-page">
    <div class="login-auth-wrapper">
        <h3>Log in to continue.</h3>
        <div class="login-social-zone">
            <button class="social-btn btn-fb "> <i class="uil uil-facebook-f"></i> Log In with Facebook</button>
            <button class="social-btn btn-apple"><i class="uil uil-apple"></i> Log In with Apple</button>
            <button class="social-btn"><i class="uil uil-google"></i> Log In with Google</button>
        </div>
        <div class="separator"></div>
        <form (ngSubmit)="sendLogin()" [formGroup]="formLogin" class="login-auth-form">
            <div class="form-group">
                <label for="email">Email or Username</label>
                <input formControlName="email" type="text" placeholder="Email or Username" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" placeholder="Password" class="form-input">
            </div>
            <div class="form-steps">
                <a class="link" href="">Forgot your password?</a>
            </div>
            <div *ngIf="errorSession" class="form-error">
                Wrong Email or Password
            </div>
            <div class="form-action">
                <button [disabled]="formLogin.invalid" class="login social-btn">Log In</button>
            </div>
        </form>
    </div>
</div>
